.left{
    display: inline-block;
    /*border:2px solid red;*/
    position: absolute;
    left:40px;
    top:30px
}
.left img{
    width: 43px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    
}
.left dev{
    text-align: center;
}

.mid{
    display:block;
    width: 33%;
    margin: 12px auto;
    top:30px;
    /*border:2px solid green;*/
    
}

.right{
    position: absolute;
    right:40px;
    top:30px;
    display: inline-block;
   /* border:2px solid salmon;*/
}
.navbar{
    display:inline-block;
    
}
.navbar li{
    display:inline-block;
    color:white;
    text-decoration:none ;
    padding-inline: 10px;
}
.navbar li a{
    color:white;
    text-decoration:none ;
    ;

}
.navbar li a:hover, .navbar li a.active{
    color:gray;
    text-decoration: underline;

}
.btn{
    margin:0px;
    background-color: black;
    color:white;
    padding:6px,16px;
    border:2px solid gray;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(64, 64, 112);
}
.container{
    margin: 106px 80px;
    padding: 75px;
    border: 2px solid white;
    border-radius: 28px;
    width: 33%;
}
.form-group input{
    
    text-align: center;
    display:block;
    margin:6px auto;
    padding:9px;
    border: 2px black;
    width: 80%;
    border-radius: 10px;
    font-size: 17px;
}
.container h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}
.container button{
    display: block;
    margin: 6px auto;
    width: 80%;
}
